body {
    font-family: "Brush Script MT", cursive;
    background-color: #f8b6d2;
    color: #8b1746;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

input {
    padding: 12px;
    margin: 5px;
    border: 2px solid #d94f87;
    border-radius: 20px;
    outline: none;
    font-size: 15px;
}

button {
    padding: 12px 20px;
    margin: 5px;
    border: none;
    border-radius: 25px;
    background-color: #d94f87;
    color: white;
    font-family: "Brush Script MT", cursive;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #a52d61;
}

#lista {
    margin-top: 25px;
}

#lista p {
    background-color: #fff0f6;
    color: #8b1746;
    width: 350px;
    max-width: 90%;
    margin: 15px auto;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
}

#lista button {
    border-radius: 20px;
}
